@{
    ViewBag.Title = $"Заказ {ViewBag.OrderID} подтверждён";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    
    <p>Заказ @ViewBag.OrderID сформирован и в скором времени будет обработан</p>
    
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>